<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>traderList</key>
	<array>
		<dict>
			<key>cSpell</key>
			<string>AJZQ</string>
			<key>name</key>
			<string>爱建证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>AXZQ</string>
			<key>name</key>
			<string>安信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>BHZQ</string>
			<key>name</key>
			<string>渤海证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CCGRZQ</string>
			<key>name</key>
			<string>长城国瑞证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CCZQ</string>
			<key>name</key>
			<string>长城证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CCZQ</string>
			<key>name</key>
			<string>川财证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CDZQ</string>
			<key>name</key>
			<string>财达证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CFLAZQ</string>
			<key>name</key>
			<string>财富里昂证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CFZQ</string>
			<key>name</key>
			<string>财富证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CHZQ</string>
			<key>name</key>
			<string>诚浩证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CJZQ</string>
			<key>name</key>
			<string>长江证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CSZQ</string>
			<key>name</key>
			<string>长沙证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CTZQ</string>
			<key>name</key>
			<string>财通证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>CTZQTZB</string>
			<key>name</key>
			<string>财通证券投资部</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DBZQ</string>
			<key>name</key>
			<string>德邦证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DBZQ</string>
			<key>name</key>
			<string>东北证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DFHQ</string>
			<key>name</key>
			<string>东方花旗</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DFZQ</string>
			<key>name</key>
			<string>东方证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DFZQJJ</string>
			<key>name</key>
			<string>东方证券经纪</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DGZQ</string>
			<key>name</key>
			<string>东莞证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DHXG</string>
			<key>name</key>
			<string>大和香港</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DHZQ</string>
			<key>name</key>
			<string>东海证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DTZQ</string>
			<key>name</key>
			<string>大通证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DTZQ</string>
			<key>name</key>
			<string>大同证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DWZQ</string>
			<key>name</key>
			<string>东吴证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DXZQ</string>
			<key>name</key>
			<string>东兴证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DYCY</string>
			<key>name</key>
			<string>第一创业</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>DYJTG</string>
			<key>name</key>
			<string>第一金投顾</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ETFS</string>
			<key>name</key>
			<string>ETFS</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>FZZQ</string>
			<key>name</key>
			<string>方正证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GBZQ</string>
			<key>name</key>
			<string>国邦证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GHZQ</string>
			<key>name</key>
			<string>高华证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GHZQ</string>
			<key>name</key>
			<string>国海证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GJZQ</string>
			<key>name</key>
			<string>国金证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GKZQ</string>
			<key>name</key>
			<string>国开证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GLZQ</string>
			<key>name</key>
			<string>国联证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GSGHZQ</string>
			<key>name</key>
			<string>高盛高华证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GSZQ</string>
			<key>name</key>
			<string>国盛证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GTAX</string>
			<key>name</key>
			<string>国投安信</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GYZQ</string>
			<key>name</key>
			<string>国元证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GZZQ</string>
			<key>name</key>
			<string>广州证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HAZQ</string>
			<key>name</key>
			<string>华安证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HBZQ</string>
			<key>name</key>
			<string>华宝证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HBZQYZ</string>
			<key>name</key>
			<string>华宝证券亚洲</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HCZQ</string>
			<key>name</key>
			<string>华创证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HFZQ</string>
			<key>name</key>
			<string>华福证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HFZQ</string>
			<key>name</key>
			<string>汇丰证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HGTZZQ</string>
			<key>name</key>
			<string>韩国投资证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HJDHZQ</string>
			<key>name</key>
			<string>海际大和证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HJZQ</string>
			<key>name</key>
			<string>海际证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HJZQ</string>
			<key>name</key>
			<string>华金证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HJZQ</string>
			<key>name</key>
			<string>华君证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HLJCZZQ</string>
			<key>name</key>
			<string>黑龙江财政证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HLZQ</string>
			<key>name</key>
			<string>华龙证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HNZQ</string>
			<key>name</key>
			<string>海南证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HNZQ</string>
			<key>name</key>
			<string>华南证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HRZQ</string>
			<key>name</key>
			<string>华融证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTCC</string>
			<key>name</key>
			<string>恒泰长财</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTLHZQ</string>
			<key>name</key>
			<string>华泰联合证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTZQ</string>
			<key>name</key>
			<string>恒泰证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTZQ</string>
			<key>name</key>
			<string>红塔证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HXZQ</string>
			<key>name</key>
			<string>宏信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HXZQ</string>
			<key>name</key>
			<string>华西证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HXZQ</string>
			<key>name</key>
			<string>华夏证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HXZQ</string>
			<key>name</key>
			<string>华鑫证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HYZQ</string>
			<key>name</key>
			<string>华英证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HYZQYZ</string>
			<key>name</key>
			<string>荷银证券亚洲</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>JHZQ</string>
			<key>name</key>
			<string>江海证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>JXZQ</string>
			<key>name</key>
			<string>金星证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>JYZQ</string>
			<key>name</key>
			<string>金元证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>JZZQ</string>
			<key>name</key>
			<string>建总证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>JZZQ</string>
			<key>name</key>
			<string>九州证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>KCZQ</string>
			<key>name</key>
			<string>开财证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>KHZQ</string>
			<key>name</key>
			<string>康和证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>KYZQ</string>
			<key>name</key>
			<string>开源证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>LXZQ</string>
			<key>name</key>
			<string>联讯证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>MGHX</string>
			<key>name</key>
			<string>摩根华鑫</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>MGSDLHXZQ</string>
			<key>name</key>
			<string>摩根史丹利华鑫证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>MLZQ</string>
			<key>name</key>
			<string>美林证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>MSZQ</string>
			<key>name</key>
			<string>民生证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>MZZQ</string>
			<key>name</key>
			<string>民族证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>NBZQ</string>
			<key>name</key>
			<string>宁波证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>NJZQ</string>
			<key>name</key>
			<string>南京证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>RXFZZQ</string>
			<key>name</key>
			<string>瑞信方正证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>RXZQ</string>
			<key>name</key>
			<string>日信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>RYHBGJ</string>
			<key>name</key>
			<string>瑞银华宝国际</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>RYZQ</string>
			<key>name</key>
			<string>瑞银证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SCZQ</string>
			<key>name</key>
			<string>省财证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SCZQ</string>
			<key>name</key>
			<string>首创证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SGZQ</string>
			<key>name</key>
			<string>省工证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SHHXZQ</string>
			<key>name</key>
			<string>上海华信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SHZQ</string>
			<key>name</key>
			<string>上海证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SJZQ</string>
			<key>name</key>
			<string>世纪证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>STZQ</string>
			<key>name</key>
			<string>沈通证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SWHY</string>
			<key>name</key>
			<string>申万宏源</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SWHYXB</string>
			<key>name</key>
			<string>申万宏源西部</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SWHYZQ</string>
			<key>name</key>
			<string>申万宏源证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SXZQ</string>
			<key>name</key>
			<string>山西证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SYWGZQ</string>
			<key>name</key>
			<string>申银万国证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>SZZQ</string>
			<key>name</key>
			<string>省中证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>TFZQ</string>
			<key>name</key>
			<string>天风证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>TPY</string>
			<key>name</key>
			<string>太平洋</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>TPYZQYJY</string>
			<key>name</key>
			<string>太平洋证券研究院</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>TXZQ</string>
			<key>name</key>
			<string>同信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>WHZQ</string>
			<key>name</key>
			<string>万和证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>WKZQ</string>
			<key>name</key>
			<string>五矿证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>WLZQ</string>
			<key>name</key>
			<string>万联证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XAZQ</string>
			<key>name</key>
			<string>西安证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XBZQ</string>
			<key>name</key>
			<string>西部证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XCZQ</string>
			<key>name</key>
			<string>湘财证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XDZQ</string>
			<key>name</key>
			<string>信达证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XNZQ</string>
			<key>name</key>
			<string>西南证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XSDZQ</string>
			<key>name</key>
			<string>新时达证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XSDZQ</string>
			<key>name</key>
			<string>新时代证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>XYZQ</string>
			<key>name</key>
			<string>兴业证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>YCMG</string>
			<key>name</key>
			<string>一创摩根</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>YDZQ</string>
			<key>name</key>
			<string>英大证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>YHZG</string>
			<key>name</key>
			<string>益华中国</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>YTZQ</string>
			<key>name</key>
			<string>银泰证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZCZQ</string>
			<key>name</key>
			<string>众成证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZDZQ</string>
			<key>name</key>
			<string>中德证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZGJTZQ</string>
			<key>name</key>
			<string>中国建投证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZHZQ</string>
			<key>name</key>
			<string>中航证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZJGS</string>
			<key>name</key>
			<string>中金公司</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZQJRGS</string>
			<key>name</key>
			<string>证券金融公司</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZSZQ</string>
			<key>name</key>
			<string>浙商证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZSZQ</string>
			<key>name</key>
			<string>中山证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZTZQ</string>
			<key>name</key>
			<string>中泰证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZTZQ</string>
			<key>name</key>
			<string>中天证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZTZQ</string>
			<key>name</key>
			<string>中投证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZXJTZQ</string>
			<key>name</key>
			<string>中信建投证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZXZQ(SD)</string>
			<key>name</key>
			<string>中信证券(山东)</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZXZQ(ZJ)</string>
			<key>name</key>
			<string>中信证券(浙江)</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZYGJ</string>
			<key>name</key>
			<string>中银国际</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZYGJKHZGB</string>
			<key>name</key>
			<string>中银国际客户资管部</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZYGJZQ</string>
			<key>name</key>
			<string>中银国际证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZYZQ</string>
			<key>name</key>
			<string>中邮证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZYZQ</string>
			<key>name</key>
			<string>中原证券</string>
		</dict>
	</array>
	<key>usualList</key>
	<array>
		<dict>
			<key>cSpell</key>
			<string>PAZQ</string>
			<key>name</key>
			<string>平安证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GDZQ</string>
			<key>name</key>
			<string>光大证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GFZQ</string>
			<key>name</key>
			<string>广发证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GTJA</string>
			<key>name</key>
			<string>国泰君安</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>GXZQ</string>
			<key>name</key>
			<string>国信证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTZQ</string>
			<key>name</key>
			<string>海通证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>HTZQ</string>
			<key>name</key>
			<string>华泰证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>YHZQ</string>
			<key>name</key>
			<string>银河证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZSZQ</string>
			<key>name</key>
			<string>招商证券</string>
		</dict>
		<dict>
			<key>cSpell</key>
			<string>ZXZQ</string>
			<key>name</key>
			<string>中信证券</string>
		</dict>
	</array>
</dict>
</plist>
